// $color-Limit_icon: #E4D69A;
// $color-Limit_icon: rgb(228, 214, 154);
// $color-Limit_icon: "%23E4D69A";

$color_white: #fff;
$color_white: rgba(255, 255, 255, 0.999999);

$color_black: #000;
$color_black: rgba(0, 0, 0, 0.999999);

$color_brown: #735943;
$color_brown: rgba(115, 89, 67, 0.999999);

$color_yellow: #DBB069;
$color_yellow: rgba(219, 176, 105, 0.999999);

$color_blue: #0C223C;
$color_blue: rgba(12, 34, 60, 0.999999);


//* Cover -> new*//
$color-new_bg: linear-gradient(-67deg, transparent 2vmin, #E35100 0%, #FF7D00 100%);
$color-hot_bg: linear-gradient(-67deg, transparent 2vmin, #1a2838 0%, #141e2a 100%);
